<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"/>

<body>

<header th:replace="fragments/header :: menu"/>
<!--

================Categories Banner Area =================
<section class="categories_banner_area">
    <div class="container">
        <div class="c_banner_inner">
            <h3>Магазин товаров студента GeekBrains</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li class="current"><a href="#">Shop Grid with Left Sidebar</a></li>
            </ul>
        </div>
    </div>
</section>
================End Categories Banner Area =================
-->

<!--================Categories Product Area =================-->
<section class="categories_product_main p_80">
    <div class="container">
        <div class="categories_main_inner">
            <div class="row row_disable">
                <div class="col-lg-9 float-md-right">

                    <!--Фильтры товаров-->
                    <div class="showing_fillter">
                        <div class="row m0">
                            <div class="first_fillter">
                                <h4>Showing 1 to 12 of 30 total</h4>
                            </div>

                            <div class="secand_fillter">
                                <h4>SORT BY :</h4>
                                <select class="selectpicker">
                                    <option>Name
                                        <a th:href="@{/(sort='name')}"/>
                                    </option>
                                    <option>Name 2</option>
                                    <option>Name 3</option>
                                </select>
                            </div>

                            <div class="third_fillter">
                                <h4>Show : </h4>
                                <select class="selectpicker">
                                    <option>09</option>
                                    <option>10</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="four_fillter">
                                <h4>View</h4>
                                <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                                <a href="#"><i class="icon_grid-3x3"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--End Фильтры товаров-->

                    <div class="categories_product_area">

                        <div class="row">

                            <div th:if="${products.hasContent()}" th:each="prod : ${products.content}"
                                 class="col-lg-4 col-sm-6">
                                <div class="l_product_item">

                                    <div class="l_p_img">
                                        <img th:src="@{picture/{pictureId}(pictureId=${prod.pictures.get(0).id})}"
                                             alt=""/>

                                        <div class="text-center">
                                            <ul>
                                                <li><a class="add_btn" th:href="@{/{id} (id = ${prod.id})}">
                                                    Детали...
                                                </a></li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="l_p_text">
                                        <ul>
                                            <li><a class="add_cart_btn" href="#">Добавить в корзину</a></li>
                                        </ul>
                                        <h4 th:text=${prod.name}>name
                                            <h5 th:text=${prod.price}>price
                                            </h5>
                                        </h4>
                                    </div>
                                </div>
                            </div>

                            <!--   Образец             <div class="col-lg-4 col-sm-6">
                                                           <div class="l_product_item">
                                                               <div class="l_p_img">
                                                                   <img src="img/product/c-product-3.jpg" alt="">
                                                                   <h5 class="new">New</h5>
                                                               </div>
                                                               <div class="l_p_text">
                                                                   <ul>
                                                                       <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                                                       <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                                                       <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                                                   </ul>
                                                                   <h4>Nike Shoes</h4>
                                                                   <h5>
                                                                       <del>$130</del>
                                                                       $110
                                                                   </h5>
                                                               </div>
                                                           </div>
                                                       </div>-->

                        </div>

                        <!--================Пагинация===================-->
                        <nav aria-label="Page navigation example" class="pagination_area">
                            <ul class="pagination">

                                <li class="page-item prev" th:classappend="${products.number<1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/(page=${products.number})}">
                                        <i class="fa fa-angle-left" aria-hidden="false"></i>
                                    </a>
                                </li>

                                <li th:each="num: ${#numbers.sequence(1, products.totalPages)}"
                                    th:classappend="${num == products.number + 1} ? 'active'"
                                    class="page-item">
                                    <a th:text="${num}" class="page-link"
                                       th:href="@{/(page=${num})}"
                                       th:classappend="${num == products.number + 1} ? 'disabled'">text
                                    </a>
                                </li>

                                <li class="page-item next"
                                    th:classappend="${products.number>=products.getTotalPages()-1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/(page=${products.number}+2)}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>

                            </ul>
                        </nav>
                        <!--================Пагинация===================-->

                    </div>
                </div>


                <div class="col-lg-3 float-md-right">
                    <div class="categories_sidebar">

                        <!--==========Категории товаров==========-->
                        <aside class="l_widgest l_p_categories_widget">
                            <div class="l_w_title">
                                <h3>Категории</h3>
                            </div>

                            <ul class="navbar-nav">

                                <li th:each="cat : ${categories}" class="nav-item">
                                    <a th:text="${cat.name}"
                                       th:href="@{/(categoryId=${cat.id})}"
                                       class="nav-link">Category
                                    </a>
                                </li>

                                <!--                               <li class="nav-item dropdown">
                                                                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                       Women’s Fashion
                                                                       <i class="icon_plus" aria-hidden="true"></i>
                                                                       <i class="icon_minus-06" aria-hidden="true"></i>
                                                                   </a>
                                                                   <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                                       <li class="nav-item"><a class="nav-link" href="#">Hoodies & Sweatshirts</a></li>
                                                                       <li class="nav-item"><a class="nav-link" href="#">Jackets & Coats</a></li>
                                                                       <li class="nav-item"><a class="nav-link" href="#">Blouses & Shirts</a></li>
                                                                   </ul>
                                                               </li>-->

                            </ul>
                        </aside>
                        <!--==========End Категории товаров==========-->


                        <!--==========Фильтр цен==========-->
                        <aside class="l_widgest l_fillter_widget">
                            <div class="l_w_title">
                                <h3>Filter section</h3>
                            </div>
                            <div id="slider-range" class="ui_slider"></div>
                            <label for="amount">Price:</label>
                            <input type="text" id="amount" readonly>
                        </aside>

                        <!--==========Брэнды товаров==========-->
                        <aside class="l_widgest l_menufacture_widget">
                            <div class="l_w_title">
                                <h3>Брэнды</h3>
                            </div>
                            <ul>
                                <li th:each="brand : ${brands}">
                                    <a th:text="${brand.name}"
                                       th:href="@{/(brandId=${brand.id})}">brand
                                    </a>
                                </li>

                            </ul>
                        </aside>
                        <!--==========Брэнды товаров==========-->

                        <!--==========Новые прподукты==========-->
                        <aside class="l_widgest l_feature_widget">
                            <div class="l_w_title">
                                <h3>Избранные товары</h3>
                            </div>

                            <div class="media">
                                <div th:with="prod = ${products.content.get(0)}">

                                    <div class="d-flex">
                                        <img th:src="@{picture/{pictureId}(pictureId=${prod.pictures.get(0).id})}"
                                             class="card-img" alt="">
                                    </div>

                                    <div class="media-body">
                                        <h4 th:text="${prod.name}">Название</h4>
                                        <h5 th:text="${prod.price} + 'Р.'">Цена</h5>
                                    </div>

                                </div>

                            </div>

                            <!--                            <div class="media">
                                                            <div class="d-flex">
                                                                <img src="img/product/featured-product/f-p-6.jpg" alt="">
                                                            </div>
                                                            <div class="media-body">
                                                                <h4>Crysp Denim<br/>Montana</h4>
                                                                <h5>$45.05</h5>
                                                            </div>
                                                        </div>-->

                        </aside>
                        <!--==========Новые прподукты==========-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Categories Product Area =================-->

<!--================Footer Area =================-->
<head th:replace="fragments/footer :: footer"/>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>