<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html::head"/>

<body>

<nav th:replace="fragments/head.html::navbar('Products')" />

<h1 th:text="${title}">Продукт</h1>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/products/update}" th:method="post" th:object="${product}">
                <input type="hidden" th:field="*{id}" id="id" name="id">

                <div class="form-group">
                    <label>Товар</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" name="name"
                           placeholder="Введите наименование товара">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
<!--                    th:errors="*{name}" сообщение об ошибке-->
                </div>

                <div class="form-group">
                    <label>Описание</label>
                    <input type="text" th:field="*{description}" class="form-control" id="description" name="description"
                           placeholder="Введите описание товара">
                </div>

                <div class="form-group">
                    <label>Цена</label>
                    <input type="text" th:field="*{price}" class="form-control" id="price" name="price"
                           placeholder="Введите цену">
                    <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Принять</button>
            </form>

        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts" />

</body>
</html>