<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html::head"/>

<body>

<nav th:replace="fragments/head.html::navbar('Products')"/>

<div class="container">
    <div class="row py-2">

        <div sec:authorize="hasRole('ADMIN')" class="col-12">
            <a class="btn btn-primary" th:href="@{/products/new}">Добавить продукт</a>
        </div>

        <!--        Форма для фильтра -->
        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">

                <div class="form-group mb-2 mr-2">
                    <label for="nameFilter" class="sr-only">Name Filter</label>
                    <input type="text" class="form-control" id="nameFilter" th:value="${param.nameFilter}"
                           name="nameFilter" placeholder="Фильтр по названию">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="minPrice" class="sr-only">Min Price</label>
                    <input type="number" class="form-control" id="minPrice" th:value="${param.minPrice}"
                           name="minPrice" placeholder="Минимальная цена">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="maxPrice" class="sr-only">Max Price</label>
                    <input type="number" class="form-control" id="maxPrice" th:value="${param.maxPrice}"
                           name="maxPrice" placeholder="Максимальная цена">
                    <!--                    th:value="${param.maxPrice} чтоб сохранялись параметры при обновлении страницы-->
                </div>

                <button type="submit" class="btn btn-primary mb-2">Применить</button>
            </form>
        </div>


        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('Id', 'id')"/>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('Наименование', 'name')"/>
                    <th scope="col" th:replace="fragments/sort_header :: sort_header ('Описание', 'description')"/>
                    <th sec:authorize="hasRole('ADMIN')" scope="col" th:replace="fragments/sort_header :: sort_header ('Цена', 'price')"/>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th th:text="${product.id}" scope="row">1</th>
                    <td th:text="${product.name}">Product1</td>
                    <td th:text="${product.description}">Description1</td>
                    <td th:text="${product.price}">100</td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="btn btn-success" th:href="@{/products/{id} (id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>

                        <!--                        Фиктивная форма для отправки запроса "delete" (POST)-->
                        <form class="d-inline" th:method="delete" th:action="@{/products/{id} (id = ${product.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>

                    </td>
                </tr>

                <tr th:unless="${products.hasContent()}">
                    <td colspan="5">Нет данных</td>
                </tr>

                </tbody>
            </table>

            <nav aria-label="...">
                <ul class="pagination">

                    <li class="page-item"
                        th:classappend="${products.number<1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/products(page=${products.number}, nameFilter=${param.nameFilter},
                                minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sortBy=${param.sortBy} )}"
                           tabindex="-1">Назад</a>
                        <!--                        В ${products.number} значение меньше на 1, поэтому просто присваиваем, для перехода назад-->
                    </li>


                    <li th:each="num: ${#numbers.sequence(1, products.totalPages)}"

                        th:classappend="${num == products.number + 1} ? 'active'"
                        class="page-item">

                        <!--            Выше 2 стр заменили вот это:  class="page-item active">-->

                        <a th:text="${num}"

                           th:href="@{/products(page=${num}, nameFilter=${param.nameFilter},
                                minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sortBy=${param.sortBy}   )}"

                           class="page-link">1 <span th:if="${num == products.number + 1}"
                                                     class="sr-only">(current)</span></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${products.number>=products.getTotalPages()-1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/products(page=${products.number}+2, nameFilter=${param.nameFilter},
                                minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sortBy=${param.sortBy}  )}"
                        >Вперед</a>
                    </li>

                </ul>
            </nav>
        </div>

    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>